In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import networkx as nx

### Carga de datos destinos turísticos Los Ríos

In [4]:
datos = pd.read_excel('consolidado_reviews_Los_Ríos.xlsx').reset_index()
datos = datos.rename({'index':'Id'}, axis='columns')

In [5]:
datos.head()

,Id,N,place_id,name,id_review,user_name,id_usuario,stars,link_review,fecha,review
0,0,89,ChIJS5lcdLBVEZYRFa_Y_RuCV1g,Restaurant Puerto Fuy,ChdDSUhNMG9nS0VJQ0FnSURYbzgzN29BRRAB,angie cardona,103326493536057771398,5,https://www.google.com/maps/contrib/1033264935...,2024-10-30T17:50:02.384466,"Excelente atención, la comida fue deliciosa!! ..."
1,1,89,ChIJS5lcdLBVEZYRFa_Y_RuCV1g,Restaurant Puerto Fuy,ChdDSUhNMG9nS0VJQ0FnSURYMmJPampnRRAB,Fabian Aruani,117348510194376829755,3,https://www.google.com/maps/contrib/1173485101...,2024-10-29T11:17:02.664924,NaN
2,2,89,ChIJS5lcdLBVEZYRFa_Y_RuCV1g,Restaurant Puerto Fuy,ChZDSUhNMG9nS0VJQ0FnSURYb01lUkFREAE,Nataniel Lavado,115312318540115775891,5,https://www.google.com/maps/contrib/1153123185...,2024-10-22T20:31:57.541034,Atendido por sus dueños exelente
3,3,89,ChIJS5lcdLBVEZYRFa_Y_RuCV1g,Restaurant Puerto Fuy,ChdDSUhNMG9nS0VJQ0FnSUNYLTdiY2tBRRAB,Leonardo Enrique García Riquelme,100519139671583772741,4,https://www.google.com/maps/contrib/1005191396...,2024-10-21T02:57:42.891824,NaN
4,4,89,ChIJS5lcdLBVEZYRFa_Y_RuCV1g,Restaurant Puerto Fuy,ChdDSUhNMG9nS0VJQ0FnSUNYdTdlYTZBRRAB,Andres Herrera,117104494720799796058,5,https://www.google.com/maps/contrib/1171044947...,2024-10-21T01:39:11.791360,NaN

In [6]:
datos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 479343 entries, 0 to 479342
Data columns (total 11 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   Id           479343 non-null  int64
 1   N            479343 non-null  int64
 2   place_id     479343 non-null  object
 3   name         479343 non-null  object
 4   id_review    479343 non-null  object
 5   user_name    479343 non-null  object
 6   id_usuario   479343 non-null  object
 7   stars        479343 non-null  int64
 8   link_review  479343 non-null  object
 9   fecha        479343 non-null  object
 10  review       233588 non-null  object
dtypes: int64(3), object(8)
memory usage: 40.2+ MB

### Descripciones de los campos

1. Id: Identificador único asignado a cada review de la base de datos. 
2. N:
3. place_id: Identificador único asignado a cada lugar en Google Maps.
4. name: Nombre del lugar visitado.
5. id_review: Identificador único asignado a cada reseña en Google Maps
6. user_name: El nombre de usuario es el nombre del autor de la reseña en Google Maps.
7. id_usuario: Identificador del usuario que redactó una reseña en Google Maps.
8. stars:  Indica la valoración general del lugar en una escala de estrellas, donde 1 es la calificación más baja y 5 es la más  alta.
9. link_review: Enlace al comentario realizado por cada usuario de Google Maps.
10. fecha: Fecha cuándo fue publicado el comentario.
11. review: Texto del comentario

### Análisis exploratorio

In [8]:
print('Cantidad de Reviews: '+str(len(datos)))
print('Cantidad de Comentarios: ' + str(len(datos['review'].dropna())))
print('Cantidad de Lugares: '+ str(len(datos['place_id'].unique())))
print('Cantidad de usuarios únicos: '+str(len(datos['id_usuario'].unique())))

Cantidad de Reviews: 479343
Cantidad de Comentarios: 233588
Cantidad de Lugares: 1390
Cantidad de usuarios únicos: 205836